<%- include("./../partials/header.ejs", { showNavbar: false }) %>

    <% if(label.text_content) { %>
        <h2><%= label.text_content || 'No text content yet.' %></h2>
    <% } %>
    
    <% if (Array.isArray(label.image_path) && label.image_path.length > 0) { %>
        <h1>Your Images</h1>
        <% label.image_path.forEach(function(image) { %>
            <% if (image && image !== 'null') { %>
                <img src="<%= image %>" alt="User image" style="max-width: 100%; margin-bottom: 10px;">
            <% } %>
        <% }) %>
    <% } %>
    
    <% if (Array.isArray(label.audio_path) && label.audio_path.length > 0) { %>
        <h1>Audio</h1>
        <% label.audio_path.forEach(function(audio) { %>
            <% if (audio && audio !== 'null') { %>
                <audio controls>
                    <source src="<%= audio %>" type="audio/mpeg">
                </audio>
            <% } %>
        <% }) %>
    <% } %>

<%- include("./../partials/footer.ejs") %>
